@model Nano_Tech.Controllers.loginController 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>profileedit</title>
</head>
<body>
    <div> 
        <h5>Welcome @Session["username"]</h5>
    </div>
</body>
</html>
